
body {
  width: 100%;
  height: 180vh;
  background: linear-gradient(to right, #FCF6B1, #D5D887);
  position: relative;
  
}

.tittle {
    background-color:  #00AFB9;
    background-clip: text;
    border-style:double;
    background-size: 200%; 
    font-weight: bolder;
    text-align: center;
    font-size: 60px;
}

.container {
  position: absolute;
  top: 15%;
  left: 3%;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#carrito {
  color: #fff;
  margin: 50px;
}

.card-title {
  color: #fff;
  font-size: 15px;
}

.card-text {
  color: rgb(255, 255, 255);
}

.card-body {
  margin: 20px;
}

img {
  width: 140px;
  height: 160px;
  border-radius: 15px;
}

h2 {
  font-size: 28px;
  top: 20 px;
  color: black;
  left:500px;
}
.img{
    left: 50px;
    width: 100px;
    height: 100px;
}

.text-right {
  font-size: 21px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

button {
  color: #ffff;
  border: 4px solid;
  border-radius: 10px;
  padding: 10px 25px;
  background:#BAF2E9;
  font-weight: bold;
}

button:hover {
  box-shadow: 4px 4px 19px #A1E44D inset;
}

button:active {
  box-shadow: 2px 2px 20px #A1E44D inset;
}



@media screen and (max-width: 700px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

.container {
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;  
  }

  aside{
    align-items: flex-start;
  }

  
}